/* src/App.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #0d2c2c; /* Puedes ajustar este color general del body si lo deseas */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.content-area {
  flex-grow: 1;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  padding: 1rem; /* Un poco de padding general para evitar que el contenido toque los bordes */
  background-color: #f9fafb;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* sombra sutil */
  position: sticky;
  top: 0;
  z-index: 10;
}

.private-layout {
  display: flex;
  min-height: 100vh;
}

.private-content {
  flex: 1;
  padding: 2rem;
}