.register-page {
  background-color: #013d2d;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;

}

.register-container {
  max-width: 500px;
  margin: 6rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.register-container h1 {
  font-size: 2.5rem;
  color: #013d2d;
  margin-bottom: 0.5rem;
}

.register-container p {
  color: #444;
  margin-bottom: 2rem;
}

.register-form {
  text-align: left;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #013d2d;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.register-btn-primary {
  width: 100%;
  background: #013d2d;
  color: #fff;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-btn-primary:hover {
  background: #00271f;
}
